.pumpnomic-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pumpnomic-heading h4 {
  color: #aee034;
  text-align: center;
  font-family: "Irish Grover";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pumpnomic-heading h1 {
  color: #fff;
  text-align: center;
  font-family: "Irish Grover";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.the-svg-img img {
  width: 171px;
  height: 171px;
}

.token-mi-aligh {
  display: flex;
  justify-content: center;
}
