.moon-map-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 184px;
}

.moon-map-heading h1 {
  color: #fff;
  text-align: center;
  font-family: "Irish Grover";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 565px;
}

.moon-image {
  display: flex;
  justify-content: center;
}

.rockphase1 img {
  width: 42px;
  height: 39px;
  position: relative;
  z-index: 1;

}
.phase-one h1 {
  color: #fff;
  text-align: right;
  font-family: "Irish Grover";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.phase-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  margin-top: 68px;
}

.phase-one-table {
  width: 899px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(58, 58, 58, 0.65);
  background: rgba(153, 153, 153, 0.08);
  margin-top: 327px;
}

.all-phase {
  display: flex;
  justify-content: center;
  gap: 109px;
  margin-top: -290px;
}

.table-heading {
  display: flex;
  gap: 30px;
  margin-top: 18px;
}

.table-heading img {
  transform: translate(-12px, 0px);
}

.table-heading h1 {
  color: #fff;
  font-family: "Irish Grover";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.phase-discription {
  margin-left: 44px;
  margin-top: -21px;
}

.phase-discription h5 {
  color: #777;
  font-family: "Irish Grover";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 0px;
}

.all-phase-table {
  display: flex;
  flex-direction: column;
}

.table-heading-four h6 {
  color: #a3a3a3;
  font-family: "Irish Grover";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  transform: translate(148px, -32px);
}

.phase-four-table {
    width: 899px;
height: 155px;
  border-radius: 10px;
  border: 1px solid rgba(58, 58, 58, 0.65);
  background: rgba(153, 153, 153, 0.08);
  margin-top: 327px;
}


.phase-four {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    margin-top: 246px;
  }

  .table-heading-four {
    display: flex;
    gap: 30px;
    margin-top: 18px;
  }
  
  .table-heading-four img {
    transform: translate(-14px, -75px);
  }
  
  .table-heading-four h1 {
    color: #fff;
    font-family: "Irish Grover";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .line-border {
    position: absolute;
    width: 2px;
    height: 1180px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(125, 125, 125, 0.15) 4%, #7D7D7D 53.87%, rgba(125, 125, 125, 0.15) 89%);

    z-index: -1;
    transform: translate(23px,-30px);
  }

  .rockphase1 {
    position: relative;
  }